body{
  font-family: Nunito;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #9e1f63;
}

a:hover{
  text-decoration: underline;
  transition: 0.5s;
}


table{
  width: 100%;
  margin-top: 5px;
}

th{
  background: white;
  font-weight: bold;
}

td {
	max-width: 300px;
	padding: 3px;
  outline: 1px #f7f7f7 solid;
}

td.closed{
  background: #de8585;
}

td.open{
  background: #9ade85;
}

tr:hover{
  background-color: #f7f7f7;
}

/* tr {
	outline: 1pt black solid;
} */

tr.head{
  outline: 2pt black solid;
  position: sticky;
  top: 0;
}

.content{
  width: 100%;
}

.closebar{
  text-align: right;
  padding: 5px;
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.closebarx{
  font-size: smaller;
}

.closetitle{
  font-weight: bold;
  margin-right: 5px;
}

.closebar:hover{
  cursor: pointer;
}

.checkboxlist{
  padding: 5px;
}

.entry{
}

.filterentry:hover{
  cursor: pointer;
  color: #383838;
}

.filterable{
  text-decoration: underline;
}

.filterable:hover{
  cursor: pointer;
}

.empty{
  display: none;
}


.inactive{
  color: grey;
}


.checkentry:hover{
  color: grey;
  cursor: pointer;
}

label:hover{
  color: grey;
  cursor: pointer;
}

/* label:hover{
  background-color: blue;
  cursor: pointer;
} */

.filterdiv {
	position: absolute;
	background: white;
	box-shadow: 4px 4px 10px grey;
	padding: 5pt;
	border: black solid;
  padding: 0;
}

.tooltipdiv{
  position: fixed;
  background: white;
  /* border: black solid 1pt; */
  padding: 2pt;
  border-radius: 3px;
  box-shadow: 4px 4px 10px grey;

}



.loadmore{
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 2pt black solid;
  padding: 2pt;
}

.loadmore:hover{
  background: #f0f0f0;
}

#selectform{
	border: 2pt black solid;
	padding: 2pt;
	margin-right: 3pt;
	background: white;
	cursor: pointer;

}


button {
	background: white;
	border: black 2pt solid;
	padding: 2pt;
	cursor: pointer;
  margin: 3px;
}

button:hover {
	background: #e8e8e8;
	transition-duration: 0.2s;
}

.selected {
  background: green;
}


.label {
	border-radius: 8px;
	border: solid 2pt;
	text-align: center;
	padding: 3pt;
	cursor: pointer;
	max-width: max-content;
	display: inline-flex;
	margin: 2pt;
	background: white;
	box-shadow: 1px 1px 5px #a4a4a4;

}
.label.open{
  border-color: green;
}

.label.closed{
  border-color: red;
}


.invisible{
  display: none;
}
