body{
  font-family: Nunito;
}

h1{
}

table{
  border: 1pt black;
}

th{
  position: sticky;
  top: 0;
  background: white;
  font-weight: bold;
}

td {
	max-width: 300px;
	padding: 3px;
  outline: 1px #f7f7f7 solid;
}

td.closed{
  background: #de8585;
}

td.open{
  background: #9ade85;
}

tr:hover{
  background-color: #f7f7f7;
}

tr {
	outline: 1pt black solid;
}

.content{
  width: 100%;
}

.closebar{
  text-align: right;
  padding: 5px;
  background: #f0f0f0;
}

.closebarx:hover{
  cursor: pointer;
}

.checkboxlist{
  padding: 5px;
}

.entry{
}

.filterentry:hover{
  cursor: pointer;
  color: #383838;
}

.filterable{
  text-decoration: underline;
}

.filterable:hover{
  cursor: pointer;
}

.empty{
  display: none;
}

.tablediv{
}

.selectdiv{
}

.loadmorediv{
}

.tablerow{
}

.selected{
  background-color: green;
}


.inactive{
  color: grey;
}

.filterdiv {
	position: absolute;
	background: white;
	box-shadow: 4px 4px 10px grey;
	padding: 5pt;
	border: black solid;
  padding: 0;
}

.tooltipdiv{
  position: fixed;
  background: white;
  /* border: black solid 1pt; */
  padding: 2pt;
  border-radius: 3px;
  box-shadow: 4px 4px 10px grey;

}

.tooltip_content{

}


.loadmore{
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 2pt black solid;
  padding: 2pt;
}

.loadmore:hover{
  background: #f0f0f0;
}

.label{
  border-radius: 50px;
  border: solid 2pt;
  text-align: center;
  padding: 2pt;
  cursor: pointer;
  max-width: max-content;
}

.label.open{
  border-color: green;
}

.label.closed{
  border-color: red;
}


.invisible{
  display: none;
}
